#certificaction_content{
	width:1100px;
	height:2120px;
	margin-left:auto;
	margin-right:auto;
	border:10px #d4c4c4 solid;
	background-color:#ffffff;
}

.cert_item{
	float:left;
	width:540px;
	padding-left:20px;
	padding-right:20px;
	padding-top:20px;

}

.cert_box{
	background-color:none;
	border:4px #d4c4c4 solid;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.cert_box:hover{
	background-color:none;
	border:4px #d4c4c4 solid;
	 opacity: 1.0;
	filter: alpha(opacity=100);
}

.cert_box_image{
	background-color:none;
	
}

.image_certyficaction{
	width:490px;
	height:350px;
	
}

.cert_box_title{
	background-color:#ffecec;
	padding:8px;
}

.sert_title_name{
	font-family: Poppins-Regular;
    font-size: 12px;
    color: #555555;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1px;
}