.projectCategory {
  background-color: #f1d3d3;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.projectCategory:hover {
  background-color: #dea0a0;
}


.content_projects {
  color: white;
  display: none;
  padding: 100px 20px;

}

#frontend_projects {
	background-color: #ffffff;
	color:black;
}

#backend_projects {
	background-color: #f1f1db;
	color:black;	
}
#backend_frontend_projects {
	background-color: #d6cccd;
	color:black;	
}

#testing_projects{
	background-color: #f1f1db;
	color:black;		
}



.project_link {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .project_link:hover {
  background-color: #ccc; 
}

.project_description {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.image_project{
	width:50%;
	float:left;
}

.projec_description{
	font-size: 2rem;
	line-height: 1.6;
}
